/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  height: 100%;
}

body {
  color: #5a5a5a;

  /* background: #d4d4d4;
  background: linear-gradient(to bottom, #cdcdcd, #f9f9f9) */

  min-height: 100%;
}

/* CUSTOM */

.bg-container {
    width: 100%;
  background: #d4d4d4;
  background: linear-gradient(to bottom, #cdcdcd, #f9f9f9)
}

.shadow-container {
  box-shadow: 0 0 4px #111;
}

.footer-container {
    width: 100%;
    background-color: #222;
    padding-bottom: 20px;
    padding-top: 6px;
}

.centered-title {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #777;
  margin: 0 auto;
  margin-top: 40px;
}

.feature-img {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.details {
  width: 95%;
  margin: 0 auto;
}

.dd-header {
    font-size: 2.0em;
    border-bottom: 1px solid #aaa;

    transition: background-color 0.3s ease-in-out;

    padding: 5px;
}

.dd-header:after {
  content: 'click to show';
  float: right;
  font-size: 0.7em;
  opacity: 0;
  padding-top:0.3em;

  transition: opacity 0.3s ease-in-out;
}

.dd-active:after {
  content: 'click to hide';
}

.dd-header:hover:after {
  opacity: 0.8;
}

.dd-content {
    padding: 20px;
    margin-bottom: 10px;
}

.dd-header:hover {
  background-color: #ccc;
  cursor: pointer;
}

.signup-hide {
  width: 100%;
  height: 500px;
}

footer a {
    color: #ccc;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  
  background-color: #222;
  
  margin-top: 0;
  border-bottom: 4px ridge #FFC642;  

  transition: opacity .3s ease-in-out;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  
  margin-bottom: 0;

  transition: padding .3s ease-in-out;
}
.navbar-brand, .navbar-nav>li>a {
  transition: padding .3s ease-in-out;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  /*background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  box-shadow: 0px 0px 3px #111;
  padding-left: 80px;
  padding-right: 80px;*/
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}